[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pywebview = "*"
dash-mantine-components = "*"
dash-iconify = "*"
pandas = "*"
py2app = "*"
setuptools = "==70.3.0"
pipfile = "*"
brickllm = {file = "dist_brick_local/brickllm-0.0.2.tar.gz"}

[dev-packages]

[requires]
python_version = "3.12"
