[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash-mantine-components = "*"
dash-iconify = "*"
pandas = "*"
setuptools = "==70.3.0"
pipfile = "*"
celery = "*"
diskcache = "*"
dash = {extras = ["diskcache"], version = "*"}
brickllm = "==1.2.0"
gunicorn = "*"
redis = "*"
dash-daq = "*"
flask = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
